doctype html 

//- layout.pug
html
  head
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title vasudev website
    block scripts
    block style
  body
    

    
    block content
         footer#footer 
            | copyright 2022 | all right reserved 
    
//-       #footer
//-         p some footer content
//- html 
//-   head 
//-     title vasudev 
//-     block script 
//-     block style 
//-  body 
//-    nav#navbar 
//-     ul
//-          div.image 
//-            img(src="", alt=" ")
           
//-          | vk creation
         
//-                li #[a(herf="/") home ] 
//-                 li #[a(herf="/") services ]
//-                 li #[a(herf="/") contact ]
//-                 li #[a(herf="/") oder]

//-         block content
//-          footer#footer 
//-             | copyright 2022 | all right reserved jyoti