<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment</title>
         include com.css
    
    //- <link rel="stylesheet" href="com.css">
    //- include com.css
   
</head>
<body>
    <div class="container">
        <input type="text"id="input"placeholder="commment">
        <button type="button" name="button"id="comment">comment</button>
        <button type="button" name="button"id="cancel">cancel</button>
        <div class="box-container">
            <div class="box">

            </div>
        </div>
//-         <!-- <script>
//-             $(document).ready(function(){
//-     $('#comment').click(function(){
//-         var input =$('#input').val();
//-         $('.box').append(input +'<br>')
//-         $('#input').val('');
//-         $(".box-container").slidedown();
//-     })
//-     $('#cancel').click(function(){
//-         $('#input').val('')

//-     })
//- })
//-         </script> -->

    </div>
</body>
</html>