extends base.pug
block scripts
    script(src="/static.index.js") 

block style
    style 
     include ../static/style.css
     include ../static/contactstyle.css
     include ../static/index.pug
    
block content
   
//-     <nav>
//-     <div class="container">

//-     <ul>
//-         <li> <a href="/"> home</a></li>
//-         <li> <a href="/"> contact</a></li>
//-         <li> <a href="/"> place your oder</a></li>
//-     </ul>

//- <div class="pra">
//-     <h1>Giving a order to make website is as simple as giving oder in restraunt</h1>
//-     <p>
    
//-     | #{content}
//-     </p>
//-     |<!-- <p>this is writrrn in pug in form of  html by vasudev</p>
//-     |<p> is a plian html in pug</p> -->
//-     <form action="/"  method="post"  id="contact">
//-         <input type="text" name="name" id="name"placeholder="enter your name">
//-         <input type="text" name="email" id="email"placeholder="enter your email">
//-         <input type="text" name="phone number" id="phone number"placeholder="enter your phone number">
//-         <input type="number"name="amount" id="amount" placeholder="how much amount you are willing to spend">
//-         <textarea name="discribe"id="discribe"placeholder="discribe about your website you want"  cols="30" rows="10"></textarea>
//-          <button id="btn">jyoti is the world best greatest of alll
            
//-         </button> 
//-         <button id="btn">sumbit</button>
//-     </form>