doctype html 
html 
    head 
        style 
            include ../static/style.css
        body
            nav#navbar 
                div.image 
                
                

                | GWBI 
                ul 
                li #[a(herf="/") home ] 
               
                li #[a(herf="/contact") contact ]
              
        section#introsection
            div.we welcome to world of web 
            div#oder.we order your website 

        section#sponerssection 
            h3 order your website
            div.card 
                h3 this is vasudev
            div.card
               
                h3 we will contact you by email
            //- div.card#before
                
            //-     p before hosting a meeting  link will be sent to you by mail,so that your website  can be customise according to you
            div#before
               
            | before hosting website  a meeting  link will be sent to you by mail,so that your website  can be customise according to you

            div.card
                
               
                h3 pay once when you are satisfied with your website which wiil be shown during meeting  
            div.card
                h3 after hosting money will not be refunded
            div.card
                h3 once payment is done you wiil recive bill recipt on your email id


        footer#footer 
            | copyright 2022 | all right reserved jyoti
        h1 my site 
        p welcome to my website
        script 
        include ../static/index.js